display(type)
  if type == flex
    display: -ms-flexbox
    display: -webkit-flex
  display: type

flex()
  -webkit-flex: arguments
  -ms-flex: arguments
  flex: arguments

flex-direction()
  -webkit-flex-direction: arguments
  -ms-flex-direction: arguments
  flex-direction: arguments