.code-popup
  display: block
  position: absolute
  border: 1px solid gray
  z-index: 15
  padding: 3px
  background: white
  border-radius: 3px

  > .name,
  > .summary
    display: block
    padding: 2px