<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="4.4.2.9744" targetFramework="net45" />
  <package id="Caliburn.Micro" version="2.0.0-beta2" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="2.0.0-beta2" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.14.0-ALPHA48" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.2.1.0" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.1.22-beta" targetFramework="net45" />
  <package id="Microsoft.Bcl.Metadata" version="1.0.9-alpha" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="0.6.4033103-beta" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="0.6.4033103-beta" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="0.6.4033103-beta" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="0.6.4033103-beta" targetFramework="net45" />
  <package id="Microsoft.Framework.ConfigurationModel" version="0.1-alpha-build-0239" targetFramework="net45" />
  <package id="Microsoft.Framework.ConfigurationModel.Json" version="0.1-alpha-build-0239" targetFramework="net45" />
  <package id="Microsoft.Framework.DependencyInjection" version="0.1-alpha-build-0399" targetFramework="net45" />
  <package id="Microsoft.Framework.DependencyInjection.Ninject" version="0.1-alpha-build-0399" targetFramework="net45" />
  <package id="Microsoft.Framework.Logging" version="0.1-alpha-build-0175" targetFramework="net45" />
  <package id="Microsoft.Framework.Runtime.Interfaces" version="0.1-alpha-build-0458" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
</packages>